*,
*::before,
*::after {
  box-sizing: border-box;
}
h1{font-size: 2.5rem;}
h3{font-size: 1.75rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;}
h1, h2, h3, h4, h5, h6
{
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body{
	font-family: 'Raleway', sans-serif;
	background-image: url(../img/back.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 1080px;
	position: relative;
	background-size: 100% 100%;
	line-height: 1.5;
	position: relative;
  	min-height: 100vh;
  	padding-bottom: 100px;
}
.header{
	width: 100%;
	height: auto;
	font-family: 'Anton', sans-serif;
	color: #fff; 
	margin-top: 5%;
}
.top_line{
	height: 95px;
	box-shadow: rgb(255, 255, 255) 0 0 0 2px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex; 
	flex-direction: row;
	justify-content: center;
}
.logo img{
	margin-top: 13px;
}
.reg_auth{
	position: absolute;
	top: 10px;
	right: 10px;
	display: flex;
	flex-direction: row;
}
.reg_auth>div{
	display: flex;
	flex-direction: column;
}
.plogo{
	float: right;
	width: 20%;
	margin-top: 0px;
}
.btn:hover{
	border-bottom: 2px solid rgb(102, 0, 255);
	margin-top: 7px;
	color: #ffd700;
	transition: all.3s ease;
}
.btn:active{
	border-bottom: 0;
	margin-top: 9px;
	color: #ffd700;
	transition: all.3s ease;
}
.btn{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	border-radius: 5px;
	padding: 5px 9px;
	font-size: 1.2em;
	background-color: #7f00ff;
	text-shadow: #454545 0 0 2px;
	border-bottom: 4px solid rgb(102, 0, 255);
	font-family: 'Roboto Slab', serif;
	color: #fff;
	transition: all.3s ease;
}
.logged{
	color: #fff;
	text-decoration: none;
}
.logged:hover{
	color: #ffd700;
	text-decoration: none;
}
.topnav{
	background-color: transparent;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.topnav a{
	color: #ffd700;
	text-align: center;
	padding: 14px 50px;
	font-size: 24px;
	text-decoration: none;
	border-bottom: 2px solid rgba(0,0,0,0);
	transition: all.3s ease;
	margin-top: 150px;
}
.topnav a:hover{
	border-bottom: 2px solid #fff;
	color: #fff;
	text-decoration: none;
	transition: all.3s ease;
}
.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	height: auto;
	background-color: rgba(24, 33, 52, 0.7);
	text-align: center;
	box-shadow: 0 -5px 0 #3ADBFD;
	border-radius: 0 0 10px 10px;
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.incontainer h1, .incontainer h3, .incontainer h2{
	font-family: 'Roboto Slab', serif; 
	color: #ffd700;
}
.incontainer p{
	font-family: 'Raleway', sans-serif; 
	color: #fff;
	margin-bottom: 1rem;
}
.incontainer img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#img2,#img3,#img4,#img5,#img6{
	display: none;
}
table {
	margin: 15px 0; 
	width: 100%; 
	font-family: 'Raleway', sans-serif;  
	color: #fff;
	border-collapse: collapse;
}
td th { 
	padding: 10px; 
}
td { 
	background: transparent; 
	border-bottom: 1px solid #ddd; 
	font-size: 18px; 
	font-weight: 600; 
	text-align: center; 
}
th { 
	background: transparent; 
	border-bottom: 1px solid #ddd; 
	font-size: 16px; 
	font-weight: normal; 
	text-align: center; 
}
td:hover {
	background-color:#f5f5f5;
	color: #000;
	transition: all.9s ease;
}
td{
	transition: all.9s ease;
}
#navbar {
	top: -130px;
	min-height: 70px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
  	position: fixed;
  	transition: all 0.3s;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: row;
  	flex-grow: 1;
}
#navbar a{
	border: 2px solid #fff;
  	float: left;
  	display: block;
  	color: #fff;
  	text-align: center;
  	padding: 15px;
  	text-decoration: none;
  	font-size: 20px;
  	margin-left: 3px;
  	transition: all.5s ease;
}
#navbar a:hover{
	transition: all 0.5s ease;
  	border: 2px solid #ffd700;
  	color: #ffd700;
  	padding: 18px;
  	background-color: #7f00ff;
}
footer{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	min-height: 50px;
	border-top: 2px solid rgb(58, 219, 253);
	width: 100%;
	background-color: rgba(80, 80, 80, 0.8);
	position: absolute;
	bottom: 0;
}
footer pre{
	font-family: 'Roboto Slab', serif;
	color: #fff;
	font-size: 1em;
}
::-webkit-scrollbar{
	width: 8px;
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	border-radius: 13px;
	background-color: #7f00ff;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
::-webkit-scrollbar-track{
	border-radius: 13px;
	background-color: #fff;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
#r1, #r2, #r3, #r4, #r5, #r6{
	margin-right: 5px;
}
.rad{
	font-family: 'Raleway', sans-serif; 
	color: #fff;
}
.buy {
	width: 100%;
	background-color: transparent;
  	color: #fff;
	border: 2px solid #fff;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.5s;
	cursor: pointer;
}
.buy:hover {
  	background-color: #fff;
  	border: 2px solid #fff;
  	color: #000;
  	transition-duration: 0.5s;
  	text-decoration: none;
}
form{
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 250px;
	text-align: center;
}
form h2{
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}
form p{
	color: #fff; 
	font-family: 'Raleway', sans-serif;
	margin-top: 1em;
}
form span{
	font-family: 'Raleway', sans-serif; 
	color: #fff;
}
[type="button"],[type="reset"],[type="number"], form select{
	outline: none;
	width: 100%;
}
form>div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	margin-top: 1em;
}
form select, [type="number"]{
	padding: 8px;
}
#day{
	position: absolute;
	top: 10px;
	left: 10px;
	font-family: 'Raleway', sans-serif; 
	color: #fff;
	padding: 10px;
}
i{
	margin-right: 5px;
}
@media only screen and (max-width: 760px) {
	.reg_auth{
		display: none;
	}
	nav{
		display: none;
	}
	#day{
		display: none;
	}
	#navbar a{
		font-size: 0.8em;
	}
	.header{
		margin-top: 20%;
	}
	.container{
		margin-top: 65px;
	}
	td{
		font-size: 12px;
	}
	th{
		font-size: 12px;
	}
}